In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [5]:
data=pd.read_csv("C://Users//bhara//Desktop//Datasets//titanic.csv",usecols=["Age","Fare","Survived"])

In [6]:
data.head(5)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [7]:
data.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [8]:
data.isnull().mean()

Survived    0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [9]:
data.describe().transpose()

          count       mean        std   min      25%      50%   75%       max
Survived  891.0   0.383838   0.486592  0.00   0.0000   0.0000   1.0    1.0000
Age       714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
Fare      891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

In [10]:
#Separating into training and testing set

X_train,X_test,y_train,y_test=train_test_split(data[["Age","Fare"]],data["Survived"],test_size=0.3,random_state=0)

In [11]:
X_train.shape

(623, 2)

In [12]:
X_test.shape

(268, 2)

In [13]:
X_train.isnull().sum()

Age     121
Fare      0
dtype: int64

In [14]:
X_train.isnull().mean()

Age     0.194222
Fare    0.000000
dtype: float64

In [15]:
#add the missing indicator

# this is done very simply by using np.where from numpy

X_train["Age_NA"]=np.where(X_train["Age"].isnull(),1,0)
X_test["Age_NA"]=np.where(X_test["Age"].isnull(),1,0)

In [16]:
X_train.head(5)

      Age     Fare  Age_NA
857  51.0  26.5500       0
52   49.0  76.7292       0
386   1.0  46.9000       0
124  54.0  77.2875       0
578   NaN  14.4583       1

In [19]:
#the mean of the binary variable,coincides with the percentage of missing values in the original dataset

X_train["Age_NA"].mean()

0.1942215088282504

In [20]:
# Yet the original variable still shows the missing values
#which need to be replaced by any of the techniques we learnt


X_train["Age"].isnull().mean()

0.1942215088282504

In [24]:
#Median Imputation

median=X_train["Age"].median()
X_train["Age"]=X_train["Age"].fillna(median)
X_test["Age"]=X_test["Age"].fillna(median)

In [25]:
X_train.isnull().mean()

Age       0.0
Fare      0.0
Age_NA    0.0
dtype: float64

In [26]:
X_test.isnull().mean()

Age       0.0
Fare      0.0
Age_NA    0.0
dtype: float64

In [27]:
data1=pd.read_csv("C://Users//bhara//Desktop//Datasets//Houseprice.csv")

In [28]:
cols_to_use=["LotFrontage","MasVnrArea","BsmtQual","FireplaceQu","SalePrice"]

In [29]:
data1=pd.read_csv("C://Users//bhara//Desktop//Datasets//Houseprice.csv",usecols=cols_to_use)

In [31]:
print(data1.shape)

(1460, 5)

In [32]:
data1.head(5)

   LotFrontage  MasVnrArea BsmtQual FireplaceQu  SalePrice
0         65.0       196.0       Gd         NaN     208500
1         80.0         0.0       Gd          TA     181500
2         68.0       162.0       Gd          TA     223500
3         60.0         0.0       TA          Gd     140000
4         84.0       350.0       Gd          TA     250000

In [33]:
data1.isnull().sum()

LotFrontage    259
MasVnrArea       8
BsmtQual        37
FireplaceQu    690
SalePrice        0
dtype: int64

In [35]:
data1.isnull().mean()

LotFrontage    0.177397
MasVnrArea     0.005479
BsmtQual       0.025342
FireplaceQu    0.472603
SalePrice      0.000000
dtype: float64

In [36]:
X_train,X_test,y_train,y_test=train_test_split(data1[["LotFrontage","MasVnrArea","BsmtQual","FireplaceQu"]],data1["SalePrice"],test_size=0.3,random_state=0)

In [37]:
X_train.shape

(1022, 4)

In [38]:
X_train.isnull().mean()

LotFrontage    0.184932
MasVnrArea     0.004892
BsmtQual       0.023483
FireplaceQu    0.467710
dtype: float64

In [39]:
X_test.isnull().mean()

LotFrontage    0.159817
MasVnrArea     0.006849
BsmtQual       0.029680
FireplaceQu    0.484018
dtype: float64

In [40]:
cols_to_use=cols_to_use[:-1]
cols_to_use

['LotFrontage', 'MasVnrArea', 'BsmtQual', 'FireplaceQu']

In [41]:
indicators=[f'{var}_NA' for var in cols_to_use]

In [42]:
indicators

['LotFrontage_NA', 'MasVnrArea_NA', 'BsmtQual_NA', 'FireplaceQu_NA']

In [43]:
X_train[indicators]=X_train[cols_to_use].isna().astype(int)
X_test[indicators]=X_test[cols_to_use].isna().astype(int)

In [44]:
X_train.head()

,LotFrontage,MasVnrArea,BsmtQual,FireplaceQu,LotFrontage_NA,MasVnrArea_NA,BsmtQual_NA,FireplaceQu_NA
64,NaN,573.0,Gd,NaN,1,0,0,1
682,NaN,0.0,Gd,Gd,1,0,0,0
960,50.0,0.0,TA,NaN,0,0,0,1
1384,60.0,0.0,TA,NaN,0,0,0,1
1100,60.0,0.0,TA,NaN,0,0,0,1

In [45]:
X_train.head()

,LotFrontage,MasVnrArea,BsmtQual,FireplaceQu,LotFrontage_NA,MasVnrArea_NA,BsmtQual_NA,FireplaceQu_NA
64,NaN,573.0,Gd,NaN,1,0,0,1
682,NaN,0.0,Gd,Gd,1,0,0,0
960,50.0,0.0,TA,NaN,0,0,0,1
1384,60.0,0.0,TA,NaN,0,0,0,1
1100,60.0,0.0,TA,NaN,0,0,0,1

In [47]:
X_train.isnull().mean()

LotFrontage       0.184932
MasVnrArea        0.004892
BsmtQual          0.023483
FireplaceQu       0.467710
LotFrontage_NA    0.000000
MasVnrArea_NA     0.000000
BsmtQual_NA       0.000000
FireplaceQu_NA    0.000000
dtype: float64

In [50]:
#Lets impute the NA with the median for numerical variables
#calculate the median using the train set

medain=X_train["LotFrontage"].median()

In [51]:
X_train["LotFrontage"]=X_train["LotFrontage"].fillna(median)
X_test["LotFrontage"]=X_test["LotFrontage"].fillna(median)

In [54]:
median=X_train["MasVnrArea"].median()
X_train["MasVnrArea"]=X_train["MasVnrArea"].fillna(median)
X_test["MasVnrArea"]=X_test["MasVnrArea"].fillna(median)

In [55]:
#lets impute the Na in categorical variables by the most frquent category -mode()

In [69]:
mode=X_train["BsmtQual"].mode()[0]

In [70]:
X_train["BsmtQual"]=X_train["BsmtQual"].fillna(mode)
X_test["BsmtQual"]=X_test["BsmtQual"].fillna(mode)

In [71]:
mode=X_train["FireplaceQu"].mode()[0]

In [72]:
X_train["FireplaceQu"]=X_train["FireplaceQu"].fillna(mode)
X_test["FireplaceQu"]=X_test["FireplaceQu"].fillna(mode)

In [73]:
X_train.isnull().mean()

LotFrontage       0.0
MasVnrArea        0.0
BsmtQual          0.0
FireplaceQu       0.0
LotFrontage_NA    0.0
MasVnrArea_NA     0.0
BsmtQual_NA       0.0
FireplaceQu_NA    0.0
dtype: float64