In [11]:
import pandas as pd
import re
import numpy as np
import string

In [2]:
data=pd.read_csv("SMSSpamCollection.tsv",sep='\t',header=None)

In [3]:
data.columns=["Label","Body"]

In [4]:
data.head()

  Label                                               Body
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [5]:
data.shape

(5568, 2)

In [6]:
#Create feature for text message length

In [7]:
data["len_bodytext"]=data["Body"].apply(lambda x:len(x)-x.count(" "))

In [8]:
data.head()

  Label                                               Body  len_bodytext
0   ham  I've been searching for the right words to tha...           160
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...           128
2   ham  Nah I don't think he goes to usf, he lives aro...            49
3   ham  Even my brother is not like to speak with me. ...            62
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!            28

In [9]:
#create feature for % of text that is punctuation

In [20]:
def punc(text):
    count=sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text)-text.count(" ")),3)*100

In [21]:
data["Percent_punc"]= data["Body"].apply(lambda x :punc(x))

In [22]:
data.head()

,Label,Body,len_bodytext,Percent_punc
0,ham,I've been searching for the right words to tha...,160,2.5
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,128,4.7
2,ham,"Nah I don't think he goes to usf, he lives aro...",49,4.1
3,ham,Even my brother is not like to speak with me. ...,62,3.2
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,28,7.1

In [23]:
data.tail()

,Label,Body,len_bodytext,Percent_punc
5563,spam,This is the 2nd time we have tried 2 contact u...,131,6.1
5564,ham,Will ü b going to esplanade fr home?,29,3.4
5565,ham,"Pity, * was in mood for that. So...any other s...",48,14.6
5566,ham,The guy did some bitching but I acted like i'd...,100,1.0
5567,ham,Rofl. Its true to its name,21,4.8