In [1]:
#Import specific libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [6]:
pd.set_option('display.max_colwidth',1000)

In [12]:
messages=pd.read_csv("spam.csv",encoding='latin-1')

In [13]:
messages.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives around here though",NaN,NaN,NaN

In [14]:
messages=messages.drop(labels=["Unnamed: 2","Unnamed: 3",'Unnamed: 4'],axis=1)

In [15]:
messages.head()

,v1,v2
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [16]:
messages.columns=["labels","text"]

In [17]:
messages.head()

,labels,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [19]:
labels=np.where(messages['labels']=='spam',1,0)

In [20]:
labels

array([0, 0, 1, ..., 0, 0, 0])

messages.head(

In [21]:
messages.head()

,labels,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [66]:
X_train,X_test,y_train,y_test=train_test_split(messages["text"],labels,test_size=0.2)

In [67]:
#Prepare data for modelling

In [68]:
#Install Keras

In [69]:
pip install keras

Requirement already satisfied: keras in c:\users\bhara\anaconda3\lib\site-packages (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [70]:
#Import the tools we will need from keras

In [71]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [72]:
# Initialize and fit the tokenizer

In [73]:
tokenizer=Tokenizer()
tokenizer.fit_on_texts(X_train)

In [74]:
# use that tokenizer to transform the text messages in the training and test sets

In [75]:
X_train_seq=tokenizer.texts_to_sequences(X_train)
X_test_seq=tokenizer.texts_to_sequences(X_test)

In [76]:
#what do these sequences look like?

In [77]:
X_train_seq[0]

[50, 122, 8, 2022, 3863, 9, 1274]

In [78]:
X_train[0]

KeyError: 0

In [84]:
X_train[1]

'Ok lar... Joking wif u oni...'

In [85]:
#pad the sequences so each sentence is the same length

In [86]:
X_train_seq_padded=pad_sequences(X_train_seq,50)
X_test_seq_padded=pad_sequences(X_test_seq,50)

In [87]:
X_train_seq_padded[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   50,
        122,    8, 2022, 3863,    9, 1274])

In [88]:
#Modeling

In [89]:
#Import the tools needed from keras and define functions to calculate recall and precision

In [90]:
import keras.backend as k
from keras.layers import Dense,Embedding,LSTM
from keras.models import Sequential

In [91]:
def recall_m(y_true,y_pred):
    true_positives=k.sum(k.round(k.clip(y_true*y_pred,0,1)))
    possible_positives=k.sum(k.round(k.clip(y_true,0,1)))
    recall= true_positives / (possible_positives + k.epsilon())
    return recall

In [92]:
def precision_m(y_true,y_pred):
    true_positives=k.sum(k.round(k.clip(y_true*y_pred,0,1)))
    predicted_positives=k.sum(k.round(k.clip(y_pred,0,1)))
    precision= true_positives / (predicted_positives + k.epsilon())
    return precision

In [93]:
#Construct a simple RNN model

In [94]:
model=Sequential()

In [95]:
model.add(Embedding(len(tokenizer.index_word)+1,32))
model.add(LSTM(32,dropout=0,recurrent_dropout=0))
model.add(Dense(32,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.summary()

In [96]:
#Compile the model

In [99]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy',recall_m,precision_m])

In [100]:
#Fit the RNN model

In [101]:
history=model.fit(X_train_seq_padded,y_train,batch_size=32,epochs=10,validation_data=(X_test_seq_padded,y_test))

Epoch 1/10
140/140 [==============================] - 4s 17ms/step - loss: 0.2367 - accuracy: 0.9260 - recall_m: 0.4363 - precision_m: 0.5111 - val_loss: 0.0656 - val_accuracy: 0.9821 - val_recall_m: 0.9072 - val_precision_m: 0.9621
Epoch 2/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0312 - accuracy: 0.9924 - recall_m: 0.9446 - precision_m: 0.9794 - val_loss: 0.0552 - val_accuracy: 0.9857 - val_recall_m: 0.9263 - val_precision_m: 0.9667
Epoch 3/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0128 - accuracy: 0.9971 - recall_m: 0.9875 - precision_m: 0.9928 - val_loss: 0.0560 - val_accuracy: 0.9839 - val_recall_m: 0.9151 - val_precision_m: 0.9721
Epoch 4/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0038 - accuracy: 0.9996 - recall_m: 0.9811 - precision_m: 0.9857 - val_loss: 0.0805 - val_accuracy: 0.9857 - val_recall_m: 0.9103 - val_precision_m: 0.9929
Epoch 5/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0028 - accuracy: 0.9996 - recall_m: 0.9827 - precision_m: 0.9857 - val_loss: 0.0784 - val_accuracy: 0.9848 - val_recall_m: 0.9103 - val_precision_m: 0.9888
Epoch 6/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0016 - accuracy: 0.9998 - recall_m: 0.9982 - precision_m: 1.0000 - val_loss: 0.0843 - val_accuracy: 0.9848 - val_recall_m: 0.9103 - val_precision_m: 0.9888
Epoch 7/10
140/140 [==============================] - 2s 14ms/step - loss: 0.0013 - accuracy: 0.9998 - recall_m: 0.9839 - precision_m: 0.9857 - val_loss: 0.1014 - val_accuracy: 0.9821 - val_recall_m: 0.8853 - val_precision_m: 0.9929
Epoch 8/10
140/140 [==============================] - 2s 14ms/step - loss: 4.8813e-04 - accuracy: 1.0000 - recall_m: 0.9857 - precision_m: 0.9857 - val_loss: 0.1028 - val_accuracy: 0.9830 - val_recall_m: 0.8889 - val_precision_m: 0.9929
Epoch 9/10
140/140 [==============================] - 2s 14ms/step - loss: 1.5690e-04 - accuracy: 1.0000 - recall_m: 0.9786 - precision_m: 0.9786 - val_loss: 0.0983 - val_accuracy: 0.9848 - val_recall_m: 0.9103 - val_precision_m: 0.9888
Epoch 10/10
140/140 [==============================] - 2s 14ms/step - loss: 7.9615e-05 - accuracy: 1.0000 - recall_m: 0.9714 - precision_m: 0.9714 - val_loss: 0.1044 - val_accuracy: 0.9848 - val_recall_m: 0.9103 - val_precision_m: 0.9888